<link rel="stylesheet" type="text/css" href="css.css">
<h2>Application</h2>
<p>Biblical application involves both <em>thinking</em> and <em>acting</em>; <em>being</em> and <em>doing</em>. &ldquo;Immersing oneself in the study of the Bible has the power to transform one&rsquo;s feelings and emotions, attitude, and will. And according to the Bible, this transformation of character will be expressed in behavior&rdquo;.</p>
<p>The purpose of this phase is for the student to connect the text to their contemporary life using the key verse/sentence. Connecting application with the key helps ensure the main point is being applied.</p>
<p>In this process it is important not to go straight to application before considering the original application for the original audience. One question to ask could be: <em>&ldquo;What is the eternal principle of this text?&rdquo;</em>. This is looking for something from the original setting that is transcendent and relevant for today that should inform one&rsquo;s thinking and behavior.</p>
<p>Conclude with prayer that prays the application of the key.</p>
<h3>Challenges</h3>
<p><strong>Situational challenge<br /></strong>To overcome the historical gap between the text then and now it may help to ask rational and implicational questions. &ldquo;The <em>rational question</em> probes the underlying reasons, or rationale, for the statement, and quite often at least some of these reasons that stand behind a circumstantially contingent statement are transcendent (for all time).&rdquo; <em>Implicational question</em> divulges the presuppositions and logical outgrowths of biblical passages. Generally the implications of a circumstantially contingent statement transcend the original situation.</p>
<p><strong>Relations of testaments</strong><br />&ldquo;One&rsquo;s understanding of the relationship between the Testaments will make a difference in terms of one&rsquo;s evaluation and [application] of biblical statements&rdquo;. Generally speaking, &ldquo;the Old Testament prepares for the New Testament, and the New Testament fulfills the Old. Specifically, the two Testaments have a dialectical relationship between them because the notion of preparation-fulfillment involves <em>essential continuity</em> but with some <em>discontinuity</em>.&rdquo;</p>
<p>&ldquo;Old Testament passages should be evaluated in light of their place in the Old Testament and in light of specific New Testament statements and overall New Testament teachings.&rdquo; New Testament statements &ldquo;should be evaluated in light of overall New Testament teachings and other specific New Testament passages.&rdquo;</p>
<p><strong>Biblical ethics</strong><br />The Bible generally &ldquo;presents ethical obligation in terms of principles (e.g., thankfulness, love) rather than a legal code&rdquo; and so Biblical ethics is more principle-based rather than legal-based.</p>
<p>&ldquo;The primary concern of the Bible is not ethical but theological, so ethics derives from the primary theological focus of the Bible.&rdquo;... &ldquo;The center of biblical ethics, the human moral obligation, is to respond to God&rsquo;s lordship.&rdquo;</p>
<h3>Textual clues to help with application</h3>
<p><strong>Context</strong>. This &ldquo;is generally the most significant type of evidence; for context involves authorial direction to the reader. Students should remember that context includes all evidence within the biblical book.&rdquo;</p>
<p><strong>Scope</strong>: &ldquo;This involves asking whether the teaching of this passage applies to all persons in the world or only to certain persons&rdquo; or groups.</p>
<p><strong>Force</strong>: &ldquo;Some demands are absolutely required, so that one&rsquo;s acceptability to God is directly affected by compliance or noncompliance&rdquo; other statements &ldquo;are only tactical suggestions. They constitute advice that may be helpful&rdquo; (eg Proverbs).</p>
<p><strong>Degree of concession</strong>: &ldquo;ascertaining whether a given biblical teaching or statement is an ideal accompanied by the concession that no one, or at least very few, can be expected to realize it; or deciding whether a biblical teaching or statement reflects a concession&rdquo; of weakness.</p>
<p>You can quickly view the text with your markup by pressing the <img src='file:///android_res/drawable/eye_cross.png' class='fab_button' width='20px' height='20px'> button.</p>
<p>Content will save when you leave the screen, minimise the app or press the <img src='file:///android_res/drawable/save.png' class='toolbar_button' width='20px' height='20px'> button.</p>
<p>&nbsp;</p>