.fab_button {
	background-color:#FF4081;
	width:22px;
	height:22px;
	border-radius:100%;
	background:#FF4081;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.toolbar_button {
	background-color:#303F9F;
	width:22px;
	height:22px;
}

.mobile-list {
	padding-left:0px;
	margin-left:20px;
	margin-right:20px;
}

.mobile-list.round {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  
  .mobile-list.round li:first-child,
  .mobile-list.round li:first-child a {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
	
  .mobile-list.round li:last-child,
  .mobile-list.round li:last-child a {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; }
	
.mobile-list li {
  list-style-type: none;
  border-left: 1px solid #303F9F;
  border-right: 1px solid #303F9F;
  border-bottom: 1px solid #303F9F;
  position: relative;
  font-size: 1.1em;  }
  
  .mobile-list li:first-child {
    border-top: 1px solid #303F9F; }
	
  .mobile-list li a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
	text-decoration: none;
	line-height:1.4em;
	color: #000;	}
	
    .mobile-list li a:active, .mobile-list li a:focus {
      background: #eee; }
	  
.mobile-list li .chevron {
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    float: right;
    padding: 0px;
    margin: 0px;
    margin-top: -10px;
    border-top: 5px solid #ccc;
    border-right: 5px solid #ccc;
    position: absolute;
    top: 50%;
    right: 5%; }
	
