<link rel="stylesheet" type="text/css" href="css.css">
<ul class="mobile-list with-chevrons round">
	<li><a href="overview.html">Overview<i class="chevron"></i></a></li>
	<li><a href="passage.html">Selecting a passage<i class="chevron"></i></a></li>
	<li><a href="study.html">Approaching the study<i class="chevron"></i></a></li>
	<li><a href="observation.html">Text and Observation<i class="chevron"></i></a></li>
	<li><a href="questions.html">Questions<i class="chevron"></i></a></li>
	<li><a href="key.html">Key sentence<i class="chevron"></i></a></li>
	<li><a href="application.html">Application<i class="chevron"></i></a></li>
</ul>
<br>
<br>
<br>