<link rel="stylesheet" type="text/css" href="css.css">
<h2>Key sentence</h2>
<p>The purpose in this phase is to find the interpretative key of a passage to understand it&rsquo;s big idea. In a group setting, if the study has gone off track, then this phase can redeem its direction.</p>
<p>While sometimes picking a key verse or summarising a passage into a sentence is a bit artificial to the text, the process itself is beneficial for it forces one to understand the whole passage. This helps students recall later what this text is about, may help them to articulate it to someone else and should help with the application phase.</p>
<p>In a group, it is always good to give some thinking time in this phase. (Silence in group studies is not something to avoid.) When asking for a key verse/sentence, also warn the group that they must support their choice. Asking why someone picked one verse over another as their key helps to see if their thinking has covered the whole passage and the big idea.</p>
<p>If Twitter is installed on your device you have the option of tweeting your key sentence using the <img src='file:///android_res/drawable/twitter.png' class='toolbar_button' width='20px' height='20px'> button. It may be a challenge to get it to be under 280 characters (minus the Bible reference and the #IBSkey hashtag), but could help with being succinct.</p>
<p>You can quickly view the text with your markup by pressing the <img src='file:///android_res/drawable/eye_cross.png' class='fab_button' width='20px' height='20px'> button.</p>
<p>Content will save when you leave the screen, minimise the app or press the <img src='file:///android_res/drawable/save.png' class='toolbar_button' width='20px' height='20px'> button.</p>
<p>&nbsp;</p>