<link rel="stylesheet" type="text/css" href="css.css">
<h2>Text and Observation</h2>
<p>Always pray first, to ask for God&rsquo;s help by the Holy Spirit to know Him through His word.</p>
<p>You may find it useful to mark up (highlight, bold, underline, etc) the passage with observations that stand out to you. You can do this using the toolbar at the bottom of the screen (once you have pressed the <img src='file:///android_res/drawable/edit.png' class='fab_button' width='20px' height='20px'> button).</p>
<p>In the observation phase note anything and everything that stands out. &ldquo;As a general principle, observations should include only the things that are incapable of being challenged by any reasonable person&hellip; A quote or paraphrase does not constitute an observation.&rdquo; Instead it should be something specific and explicit about the text that leaves &ldquo;nothing to the imagination regarding what they mean by their observations&rdquo;.</p>
<p>&ldquo;When readers of biblical passages encounter such words as <em>sanctification</em>, <em>predestination</em>, <em>election</em>, or <em>atonement</em>, they naturally construe these words according to their own theological preunderstanding.&rdquo; In these situations it would be good &ldquo;to identify exactly what one thinks these terms mean or what one wants these terms to mean, and it requires a determination to fairly consider alternative ways of construing these terms or concepts in the biblical text.&rdquo;</p>
<p>In a group setting, if any questions arise you simple note them (in the next section) and not answer them. Answering questions here may shut the group down or bring up too many tangents.</p>
<p>It is helpful to pay attention to details such as the characters, events, places and ideas developed in the passage. It is also good to note the genre and any literary devices used. Below is a rundown on some genres and literary devices to look out for.</p>
<h3>Genres</h3>
<p><strong>Prose narrative</strong> &ldquo;is the literary form of story or of historical reportage&rdquo;. It is &ldquo;assumed that the material moves according to chronological sequence&rdquo; unless in the case of a flashback (<em>analepsis</em>) or a foreshadowing (<em>prolepsis</em>).</p>
<p><strong>Poetry</strong> &ldquo;is a form of literature characterized by the use of emotive and associative figurative language, by meter, and by parallelism between lines or strophes.&rdquo; It uses figurative language and usually intends &ldquo;to bring to mind a whole cluster of ideas or thoughts... it is concerned for the total effect that the passage will have upon the mind and emotions of the reader. Biblical poetry is characterized also by the presence of parallelism.&rdquo;</p>
<p>&ldquo;A <strong>parable</strong> is a fictitious story, usually drawn from everyday life, that points to a spiritual truth. As such, the parabolic form employs the principle of analogy.&rdquo; There are always &ldquo;points of discontinuity as well as continuity between its components, in this case between the story of the parable and the spiritual truth to which it points.&rdquo;</p>
<p><strong>Apocalyptic literature</strong> &ldquo;is characterized by the use of figurative language.&rdquo; Like poetry, it &ldquo;does not necessarily move according to chronological sequence. It actually tends to move topically rather than chronologically.&rdquo;</p>
<p><strong>Discursive texts</strong> are logical arguments. It is assumed that &ldquo;the language will be literal rather than figurative&rdquo; &ldquo;The importance falls upon the development of the flow of the argument and that logical connectives, such as <em>therefore</em>, <em>so</em>, and <em>because</em>, carry special weight and deserve particular interpretive attention.&rdquo;</p>
<p><strong>Dramatic texts</strong> &ldquo;involve the personification and vivid description of ideas for the sake of their moving effect. Dramatic texts present ideas through a dramatic description of persons or events that are not intended to be taken literally but rather symbolically.&rdquo; (eg Ezekiel 37)</p>
<p>It should be noted that &ldquo;one will almost never find a perfect example of a genre; rather, one will encounter passages that seem to belong more to one genre than to others&rdquo;, however failure to identify at least the main genre of a text &ldquo;can lead to a gross misinterpretation&rdquo;.</p>
<h3>Literary devices</h3>
<p><strong>Recurrence</strong>: &ldquo;the repetition of the same or similar terms, phrases, or other elements, which may involve motifs, concepts, persons, literary forms, or other structural relationships&rdquo;.</p>
<p><strong>Contrast</strong>: &nbsp;the association of opposites or of things whose differences the writer wishes to stress. Key terms: <em>but</em>, <em>however</em></p>
<p><strong>Comparison</strong>: the association of like things, or of things whose similarities are emphasized by the writer. Key terms: <em>like</em>, <em>as</em></p>
<p><strong>Climax</strong>: the movement from the lesser to the greater, toward a high point of culmination and intensity (implicitly involves an element of contrast, and usually of causation). It &ldquo;normally comes at or very near the end of the book (or unit) surveyed.&rdquo;</p>
<p><strong>Particularization</strong>: the movement from the general to the particular can be in several forms: ideological, historical, geographical or biographical. Particularization moves from a general idea, general description of an event, broader geographical area, or group of people to a more developed idea, specific description of an event, specific location or sub-group or individual.</p>
<p><strong>Generalization</strong>: the movement from particular to general. It involves the same components as particularization but in reverse sequence.</p>
<p><strong>Causation</strong>: the movement from cause to effect. Key terms: <em>therefore</em>, <em>consequently</em>. Can be in the form of historical, logical or [hortatory]. Causation occurs when an event leads to another event; one statement logically leads to another one based on inference or when a &ldquo;statement in the indicative moves to a command, or exhortation in the imperative: because A is so, therefore you ought to do B.&rdquo;</p>
<p><strong>Substantiation </strong>&ldquo;involves the same two components as causation, but used in reverse sequence; substantiation is the movement from effect to cause.&rdquo;</p>
<p><strong>Cruciality</strong>: device of the pivot to produce a radical reversal or complete change of direction (implicitly involves recurrence of causation and contrast) &ldquo;Elements on each side of the pivot differ from those on the other side because of the pivot. It involves a change of direction, a radical reversal, a total turning around of the material because of the pivot passage.&rdquo;</p>
<p><strong>Summarization</strong>: an abridgment or compendium (summing up) either preceding or following a unit of material.</p>
<p><strong>Interrogation </strong>&ldquo;is the employment of a question or a problem followed by its answer or solution.&rdquo; Could be in the form of a <em>question</em> followed by an answer or a statement of a <em>problem</em> followed by the solution.</p>
<p><strong>Preparation/realization</strong>: background or setting of the events or ideas.</p>
<p><strong>Instrumentation</strong>: movement from means to end (implicitly involves causation), which takes the forms of either <em>statement of purpose</em> or <em>description of means</em>. Key terms:<em> in order that, so that</em> (statement of purpose); <em>by, through</em> (description of means).</p>
<p><strong>Interchange</strong>: the exchanging or alternation of certain elements in an a-b-a-b arrangement.</p>
<p><strong>Inclusio</strong>: the repetition of words or phrases at the beginning and end of a unit, thus creating a bracket effect.</p>
<p><strong>Chiasm</strong>: the repetition of elements in inverted order: a-b-b&prime;-a&prime;.</p>
<p><strong>Intercalation</strong>: insertion of one literary unit in the midst of another literary unit. &ldquo;It usually means a splitting apart of a narrative in order to interpose another narrative within it, causing the reader to pause and to ponder the relationship between the&rdquo; two narratives.</p>
<p>You can quickly view the text with your markup by pressing the <img src='file:///android_res/drawable/eye_cross.png' class='fab_button' width='20px' height='20px'> button.</p>
<p>Content will save when you leave the screen, minimise the app or press the <img src='file:///android_res/drawable/save.png' class='toolbar_button' width='20px' height='20px'> button.</p>
<p>&nbsp;</p>