<link rel="stylesheet" type="text/css" href="css.css">
<h2>Overview</h2>
<p>The method described here was taught to me from a CMS missionary, Andrew Lubbock. I (<a href="https://twitter.com/ampers">@ampers</a>) have personally used this method for leading Bible studies and have recently read the book <em>Inductive Bible Study: A Comprehensive Guide to the Practice of Hermeneutics</em> by David R. Bauer &amp; Robert A. Traina to give a bit more technical depth to this method. All quotes and definitions have been taken from this book.</p>
<p>The main strength of this method is that it&rsquo;s simple, focused on the text and easy to reproduce in a group or individual setting. It involves four main phases that seek to build on each other: observations, questions, finding the key verse/sentence and application.</p>
<p>There are many variations of this method. Feel free to adapt this method to suit your needs. &ldquo;One must be careful not to build rigidity into the process or to give the impression that there is only one way to study the Bible&rdquo;.</p>
<p>The notes here may seem a bit technical in places, so please use them as a reference. Don&rsquo;t feel like you have to understand all these notes before you can use this method. Consider these notes as a loose guide and something you may want to keep going back to.</p>

<p>Press the <img src='file:///android_res/drawable/plus.png' class='fab_button' width='20px' height='20px'> button to create a new study</p>
<p>&nbsp;</p>
