<link rel="stylesheet" type="text/css" href="css.css">
<h2>Selecting a passage</h2>
<p>It is assumed in this process that the text selected has been picked in a rational way and consists of a logical unit. It may recount one idea or event or maybe a block of ideas or events that appear next to each other in the text. It is best to do studies that are chronological to get a better understanding of context and how the original author intended their writings to be read.</p>
<p>Generally, passage headings in modern translations give a better sense of a logical break than chapters, but remember that neither were in the original. It is also good to read the verses before and after each unit to see if it is surrounded by any <em>transitional</em> verses than may lend themselves to both the preceding and current units.</p>
<p>Different types of text can lend themselves to be broken up into different lengths. The length of the passage may also depend on the group you are studying with. It is possible to look at 50 verse from a gospel narrative in an hour but with the same group to only look at 11 verses in an epistle.</p>
<p>For a better idea on the parts, it is good to know the whole and to work out what the main emphasis of a book is and it&rsquo;s type before breaking it up. The main emphasis of a book could be:</p>
<ul>
<li>concerning a <em>person</em> so be <em>biographical</em></li>
<li>a presentation of <em>events</em> so be <em>historical</em></li>
<li>a chronological <em>time line</em> so be <em>chronological</em></li>
<li>emphasising geographical <em>places</em> or <em>progress</em> so be <em>geographical</em></li>
<li>concerned with <em>ideas</em> so be <em>ideological</em></li>
</ul>
<p><br />The Bible search can take a number of inputs. It can use short Bible names (eg <em>Gen</em> and not <em>Genesis</em>), a range of verses (eg Gen 1:1-5), a single chapter (Gen 1) or a range of chapters and verses (eg Gen 1-2; Gen 1-2:3).</p>
<p>In the settings <img src='file:///android_res/drawable/settings.png' class='toolbar_button' width='20px' height='20px'>  you can change the Bible translation and show or hide the subheadings. A preview of the text will appear, if you are happy you can press the &ldquo;Create study&rdquo; button.</p>
<p>&nbsp;</p>