<link rel="stylesheet" type="text/css" href="css.css">
<h2>Questions</h2>
<p>During the observation phase you may have raised some questions regarding the text. Here is where one lists their questions. The goal at the moment isn&rsquo;t to answer any of the questions, just to collate them.</p>
<p>Besides asking questions that will immediately come to mind concerning the issues covered in the passage, it is also good to consider questions about the literary device(s) that were observed. Asking why an author chose their genre, or literary devices and the implications will help further understand the author's intent.</p>
<p>Once there is a list of questions it may be apparent that &ldquo;one generates so many questions that answering them all would be impossible&rdquo;. In a group setting, the leader may read aloud all the questions raised to remind the group what they were and get everyone to pick one (or two or three) question/s that stood out to them. Then as a group, re-read the passage to help shine any more light on the question they picked. A brief discussion on their findings may ensue.</p>
<p>The goal of discussing the findings to the questions raised is to help understand the passage in more detail. However, it is important to be aware that some questions raised may be &ldquo;interpretive questions that fail to emerge from the text itself and therefore those that the text is not prepared to answer&rdquo;. &ldquo;Proper interpretation involves answering questions that arise from observations of the text itself, so as to ensure that the interpretation accords with the agenda of the text.&rdquo; It is an interpretation fallacy to try and answer &ldquo;questions that the text does not raise&rdquo;.</p>
<h3>Commentaries and Study Notes</h3>
<p>It is best to not consult commentaries of Bible study notes until one has wrestled with the text first. &ldquo;Inductive Bible study emphasizes firsthand study of the text rather than the study of books about the text.&rdquo; The inductive method moves from evidence (the text) to inference, and not the other way round. In a group setting the method should create a level playing field avoiding any expert/novice imbalance. Everyone approaches the same text and lets it speak for itself.</p>
<p>Ideas better stick if one has formulated them on their own, rather than simply read them. If one wants to use a commentary do it later in the process so &ldquo;students can enter into critical conversation with these discussions&rdquo;.</p>
<p>It is also important to &ldquo;to judge exegetical arguments and conclusions on their own merits&rdquo;. Don&rsquo;t discredit an argument because it was said by someone of a different theological persuasion than one&rsquo;s own (ad hominem fallacy), and likewise don&rsquo;t simply accept the soundness of an argument if it was said by well recognised scholars (fallacy of appeal to authority).</p>
<p>Commentaries generally stop their study at working out &ldquo;the past-historical meaning, thus giving the impression that study of the text culminates not in [application] but in interpretation.&rdquo; Whereas the goal is for the text to apply to one's life.</p>
<p>You can quickly view the text with your markup by pressing the <img src='file:///android_res/drawable/eye_cross.png' class='fab_button' width='20px' height='20px'> button.</p>
<p>Content will save when you leave the screen, minimise the app or press the <img src='file:///android_res/drawable/save.png' class='toolbar_button' width='20px' height='20px'> button.</p>
<p>&nbsp;</p>