<link rel="stylesheet" type="text/css" href="css.css">
<h2>Approaching the study</h2>
<p>&ldquo;The test of the inductive spirit is whether one&rsquo;s approach is characterized by <em>radical openness</em> to any conclusion required by the biblical evidence.&rdquo; This means one must approach the text without any presuppositions. While &ldquo;pure or absolute induction does not exist&rdquo; as &ldquo;all of us have presuppositions&rdquo; it is good to be aware of them when they arise so one can deal with them.</p>
<p>One must be open and let the Bible speak for itself. If in a group, you must remember that it is not the leader's words or insight that will ultimately change lives. It is God&rsquo;s word that does that. A leader must have confidence in the text itself and that it is the Spirit who will change the lives of the people studying the Bible.</p>
<p>&ldquo;Inductive biblical study is open to all possible conclusions that represent sound inferences from relevant evidence&rdquo;. When drawing conclusions or inferences from the text, one must give a fair hearing of what it says regardless of the personal cost and implications. Students of the Bible when presented with tough personal issues &ldquo;are prepared to submit to the authority of Scripture over their lives, with all the risk that such commitment necessarily carries.&rdquo;</p>
<p>Click on each section to fill in. The toolbar may take the next screen a few seconds to load. You can select what type and colour of toolbar you want to use in settings <img src='file:///android_res/drawable/settings.png' class='toolbar_button' width='20px' height='20px'>.</p>
<p>Once you have finished the study you can download it as a pdf for later use (email to the group, for your own reference, etc) by pressing the <img src='file:///android_res/drawable/file.png' class='fab_button' width='20px' height='20px'> button (only avaliable on devices runing Android 5 (Lollipop) or above).</p>
<p>&nbsp;</p>